<!DOCTYPE html>
<html lang="en">
<head>
	<title>	</title>
	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href=
"https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	
	<script src=
"https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
	</script>
	
	<script src=
"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js">
	</script>
	
	<script src=
"https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">
	</script>
	
</head>
<body>
   <div class="jumbotron">
     <h1>FRIENDS</h1>
     <p class="p-3">
      We know you’ve been craving for a decent holiday with your best friends for a long time, and we have exactly 
      what you need for one right here! Traveling with friends also makes the bond stronger.So gather your backpack, 
      rope in some good old friends, rev up your engines, and ride away to some of the best places to visit in India
      with friends for the most memorable, yet crazy trip of your life because trips with your besties can never
      be enough!Taking a trip with your buddies is always a happy experience, no matter what the location. What are 
      you waiting for? Scroll down to take a peek at the best places to visit in India with friends!
     </p>
   </div>    
   <div class="container-fluid ">
    <div class="row m-2">
      <div class="col m-1">
            <div class="card card-flip">
              <div class="card-front">
                <div class="card-body" width="100%" height="100%">
                    <a href="#" class="btn " style="background-color: rgb(37, 143, 179);">click here</a>
                </div>
              </div>
              <div class="card-back">
                  <div class="card-body" >
                    <img src="./assets/goa.jpg"  alt="" width="100%" height="220px">
                    <h4 class="card-title">Goa</h4>
                    <!-- <p class="card-text">Some example text. Some example text.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a> -->
                 </div>
              </div>
            </div>
       </div>
      <div class="col m-1">
            <div class="card card-flip">
              <div class="card-front">
                <div class="card-body" width="100%" height="100%">
                    <a href="#" class="btn " style="background-color: rgb(37, 143, 179);">click here</a>
                </div>
              </div>
              <div class="card-back">
                <div class="card-body">
                  <img src="./assets/rishikesh.jpg"  alt="" width="100%" height="220px">
                  <h4 class="card-title">Rishikesh</h4>
                  <!-- <p class="card-text">Some example text. Some example text.</p>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a> -->
                </div>
              </div>
            </div>
      </div>
      <div class="col m-1">
           <div class="card card-flip">
              <div class="card-front">
                <div class="card-body" width="100%" height="100%">
                    <a href="#" class="btn " style="background-color: rgb(37, 143, 179);">click here</a>
                </div>
              </div>
              <div class="card-back">
                  <div class="card-body">
                      <img src="./assets/chadar trek.jpg"  alt="" width="100%" height="220px">
                      <h4 class="card-title">Chadar trek</h4>
                      <!-- <p class="card-text">Some example text. Some example text.</p>
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a> -->
                  </div>
              </div>
           </div>
      </div>
    </div>
    <div class="row m-2">
      <div class="col m-1">
          <div class="card card-flip">
            <div class="card-front">
              <div class="card-body" width="100%" height="100%">
                  <a href="#" class="btn " style="background-color: rgb(37, 143, 179);">click here</a>
              </div>
            </div>
              <div class="card-back">
                <div class="card-body">
                  <img src="./assets/pangonglake.jpg"  alt="" width="100%" height="220px">
                  <h4 class="card-title">Pangong Lake</h4>
                  <!-- <p class="card-text">Some example text. Some example text.</p>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a> -->
               </div>
              </div>
          </div>
      </div>
      <div class="col m-1">
        <div class="card card-flip">
          <div class="card-front">
            <div class="card-body" width="100%" height="100%">
                <a href="#" class="btn " style="background-color: rgb(37, 143, 179);">click here</a>
            </div>
          </div>
          <div class="card-back">
            <div class="card-body">
              <img src="./assets/Gokarna.jpg"  alt="" width="100%" height="220px">
              <h4 class="card-title">Gokarna</h4>
              <!-- <p class="card-text">Some example text. Some example text.</p>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a> -->
            </div>
          </div>
        </div>
      </div>
      <div class="col m-1">
        <div class="card card-flip">
          <div class="card-front">
            <div class="card-body" width="100%" height="100%">
                <a href="#" class="btn " style="background-color: rgb(37, 143, 179);">click here</a>
            </div>
          </div>
          <div class="card-back">
            <div class="card-body">
              <img src="./assets/pondicherry.jpg"  alt="" width="100%" height="220px">
              <h4 class="card-title">Pondicherry</h4>
              <!-- <p class="card-text">Some example text. Some example text.</p>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a> -->
            </div>
          </div>
       </div>
      </div>
    </div>
    <div class="row m-2">
      <div class="col m-1">
        <div class="card card-flip">
          <div class="card-front">
            <div class="card-body" width="100%" height="100%">
                <a href="#" class="btn " style="background-color: rgb(37, 143, 179);">click here</a>
            </div>
          </div>
          <div class="card-back">
            <div class="card-body">
              <img src="./assets/spiti valley.jpg"  alt="" width="100%" height="220px">
              <h4 class="card-title">Spiti valley</h4>
              <!-- <p class="card-text">Some example text. Some example text.</p>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a> -->
            </div>
          </div>
       </div>
      </div>
      <div class="col m-1">
        <div class="card card-flip">
          <div class="card-front">
            <div class="card-body" width="100%" height="100%">
                <a href="#" class="btn " style="background-color: rgb(37, 143, 179);">click here</a>
            </div>
          </div>
          <div class="card-back">
            <div class="card-body">
              <img src="./assets/kuaripass trek.jpg"  alt="" width="100%" height="220px">
              <h4 class="card-title">kuaripass trek</h4>
              <!-- <p class="card-text">Some example text. Some example text.</p>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a> -->
            </div>
          </div>
       </div>
      </div>
      <div class="col m-1">
        <div class="card card-flip">
          <div class="card-front">
            <div class="card-body" width="100%" height="100%">
                <a href="#" class="btn " style="background-color: rgb(37, 143, 179);">click here</a>
            </div>
          </div>
          <div class="card-back">
            <div class="card-body">
              <img src="./assets/Kasol.jpg"  alt="" width="100%" height="220px">
              <h4 class="card-title">Kasol</h4>
              <!-- <p class="card-text">Some example text. Some example text.</p>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a> -->
            </div>
          </div>
       </div>
      </div>
    </div>
    <div class="row m-2">
      <div class="col m-1">
        <div class="card card-flip">
          <div class="card-front">
            <div class="card-body" width="100%" height="100%">
                <a href="#" class="btn " style="background-color: rgb(37, 143, 179);">click here</a>
            </div>
          </div>
          <div class="card-back">
            <div class="card-body">
              <img src="./assets/Lonavala1.jpg"  alt="" width="100%" height="220px">
              <h4 class="card-title">Lonavala</h4>
              <!-- <p class="card-text">Some example text. Some example text.</p>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a> -->
            </div>
          </div>
       </div>
      </div>
      <div class="col m-1">
        <div class="card card-flip">
          <div class="card-front">
            <div class="card-body" width="100%" height="100%">
                <a href="#" class="btn " style="background-color: rgb(37, 143, 179);">click here</a>
            </div>
          </div>
          <div class="card-back">
            <div class="card-body">
              <img src="./assets/rann of kutch.jpg"  alt="" width="100%" height="220px">
              <h4 class="card-title">Rann of kutch</h4>
              <!-- <p class="card-text">Some example text. Some example text.</p>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a> -->
            </div>
          </div>
        </div>
      </div>
      <div class="col m-1">
        <div class="card card-flip">
          <div class="card-front">
            <div class="card-body" width="100%" height="100%">
                <a href="#" class="btn " style="background-color: rgb(37, 143, 179);">click here</a>
            </div>
          </div>
          <div class="card-back">
            <div class="card-body">
              <img src="./assets/allepey.jpg"  alt="" width="100%" height="220px">
              <h4 class="card-title">Allepey</h4>
              <!-- <p class="card-text">Some example text. Some example text.</p>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a> -->
            </div>
          </div>
       </div>
      </div>
    </div>
    <div class="abc">
      <P class="p-5px"></P>
      <a href=""></a>
      <h4></h4>
      <img src="" alt="">
    </div>
    
  </div>
</body>
</html>					
