<!DOCTYPE html>
<html lang="en">
<head>
	<title>	</title>
	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href=
"https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	
	<script src=
"https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
	</script>
	
	<script src=
"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js">
	</script>
	
	<script src=
"https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">
	</script>
	
</head>
<body>
  <div class="jumbotron">
    <h1>FAMILY</h1>
    <p class="p-2">
      Family vacation refers to recreation taken together by the family. Family vacation can 
      be ritual.for example, annually around the same time or it can be a one time event. 
      It can involve travel to a farflung spot or, for families on a tight budget, a stay at
      home staycation.Some examples of favorite family vacations might include family cruises, 
      trips to popular theme parks, ski vacations, beach vacations, food vacations or similar 
      types of family trips.To help you, Indian locale that offers a dazzling mix 
      of family-friendly destinations, refer to our list of best family holiday destinations 
      in India. Choose your desired places below, and let the excitement of family vacations 
      delight your senses!
    </p>
  </div>
  <div class="container-fluid ">
    <div class="row m-2">
      <div class="col m-1">
            <div class="card card-flip">
              <div class="card-front">
                <div class="card-body" width="100%" height="100%">
                    <a href="#" class="btn " style="background-color: rgb(37, 143, 179);">click here</a>
                </div>
              </div>
              <div class="card-back">
                  <div class="card-body" >
                    <img src="./assets/munnar.jpg"  alt="" width="100%" height="220px">
                    <h4 class="card-title">Munnar</h4>
                    <!-- <p class="card-text">Some example text. Some example text.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a> -->
                 </div>
              </div>
            </div>
       </div>
      <div class="col m-1">
            <div class="card card-flip">
              <div class="card-front">
                <div class="card-body" width="100%" height="100%">
                    <a href="#" class="btn " style="background-color: rgb(37, 143, 179);">click here</a>
                </div>
              </div>
              <div class="card-back">
                <div class="card-body">
                  <img src="./assets/lonavala.jpeg"  alt="" width="100%" height="220px">
                  <h4 class="card-title">Lonavala</h4>
                  <!-- <p class="card-text">Some example text. Some example text.</p>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a> -->
                </div>
              </div>
            </div>
      </div>
      <div class="col m-1">
           <div class="card card-flip">
              <div class="card-front">
                <div class="card-body" width="100%" height="100%">
                    <a href="#" class="btn " style="background-color: rgb(37, 143, 179);">click here</a>
                </div>
              </div>
              <div class="card-back">
                  <div class="card-body">
                      <img src="./assets/coorg.jpg"  alt="" width="100%" height="220px">
                      <h4 class="card-title">Coorg</h4>
                      <!-- <p class="card-text">Some example text. Some example text.</p>
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a> -->
                  </div>
              </div>
           </div>
      </div>
    </div>
    <div class="row m-2">
      <div class="col m-1">
          <div class="card card-flip">
            <div class="card-front">
              <div class="card-body" width="100%" height="100%">
                  <a href="#" class="btn " style="background-color: rgb(37, 143, 179);">click here</a>
              </div>
            </div>
              <div class="card-back">
                <div class="card-body">
                  <img src="./assets/kodaikanal.jpg"  alt="" width="100%" height="220px">
                  <h4 class="card-title">Kodaikanal</h4>
                  <!-- <p class="card-text">Some example text. Some example text.</p>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a> -->
               </div>
              </div>
          </div>
      </div>
      <div class="col m-1">
        <div class="card card-flip">
          <div class="card-front">
            <div class="card-body" width="100%" height="100%">
                <a href="#" class="btn " style="background-color: rgb(37, 143, 179);">click here</a>
            </div>
          </div>
          <div class="card-back">
            <div class="card-body">
              <img src="./assets/shimla.jpg"  alt="" width="100%" height="220px">
              <h4 class="card-title">Shimla</h4>
              <!-- <p class="card-text">Some example text. Some example text.</p>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a> -->
            </div>
          </div>
        </div>
      </div>
      <div class="col m-1">
        <div class="card card-flip">
          <div class="card-front">
            <div class="card-body" width="100%" height="100%">
                <a href="#" class="btn " style="background-color: rgb(37, 143, 179);">click here</a>
            </div>
          </div>
          <div class="card-back">
            <div class="card-body">
              <img src="./assets/darjeeling.jpg"  alt="" width="100%" height="220px">
              <h4 class="card-title">Darjeeling</h4>
              <!-- <p class="card-text">Some example text. Some example text.</p>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a> -->
            </div>
          </div>
       </div>
      </div>
    </div>
    <div class="row m-2">
      <div class="col m-1">
        <div class="card card-flip">
          <div class="card-front">
            <div class="card-body" width="100%" height="100%">
                <a href="#" class="btn " style="background-color: rgb(37, 143, 179);">click here</a>
            </div>
          </div>
          <div class="card-back">
            <div class="card-body">
              <img src="./assets/mount abu.jpg"  alt="" width="100%" height="220px">
              <h4 class="card-title">Mount Abu</h4>
              <!-- <p class="card-text">Some example text. Some example text.</p>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a> -->
            </div>
          </div>
       </div>
      </div>
      <div class="col m-1">
        <div class="card card-flip">
          <div class="card-front">
            <div class="card-body" width="100%" height="100%">
                <a href="#" class="btn " style="background-color: rgb(37, 143, 179);">click here</a>
            </div>
          </div>
          <div class="card-back">
            <div class="card-body">
              <img src="./assets/mussorie.jpeg"  alt="" width="100%" height="220px">
              <h4 class="card-title">Mussorie</h4>
              <!-- <p class="card-text">Some example text. Some example text.</p>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a> -->
            </div>
          </div>
       </div>
      </div>
      <div class="col m-1">
        <div class="card card-flip">
          <div class="card-front">
            <div class="card-body" width="100%" height="100%">
                <a href="#" class="btn " style="background-color: rgb(37, 143, 179);">click here</a>
            </div>
          </div>
          <div class="card-back">
            <div class="card-body">
              <img src="./assets/andaman.jpg"  alt="" width="100%" height="220px">
              <h4 class="card-title">Andaman</h4>
              <!-- <p class="card-text">Some example text. Some example text.</p>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a> -->
            </div>
          </div>
       </div>
      </div>
    </div>
    <div class="row m-2">
      <div class="col m-1">
        <div class="card card-flip">
          <div class="card-front">
            <div class="card-body" width="100%" height="100%">
                <a href="#" class="btn " style="background-color: rgb(37, 143, 179);">click here</a>
            </div>
          </div>
          <div class="card-back">
            <div class="card-body">
              <img src="./assets/ooty.jpg"  alt="" width="100%" height="220px">
              <h4 class="card-title">Ooty</h4>
              <!-- <p class="card-text">Some example text. Some example text.</p>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a> -->
            </div>
          </div>
       </div>
      </div>
      <div class="col m-1">
        <div class="card card-flip">
          <div class="card-front">
            <div class="card-body" width="100%" height="100%">
                <a href="#" class="btn " style="background-color: rgb(37, 143, 179);">click here</a>
            </div>
          </div>
          <div class="card-back">
            <div class="card-body">
              <img src="./assets/manali.jpg"  alt="" width="100%" height="220px">
              <h4 class="card-title">Manali</h4>
              <!-- <p class="card-text">Some example text. Some example text.</p>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a> -->
            </div>
          </div>
        </div>
      </div>
      <div class="col m-1">
        <div class="card card-flip">
          <div class="card-front">
            <div class="card-body" width="100%" height="100%">
                <a href="#" class="btn " style="background-color: rgb(37, 143, 179);">click here</a>
            </div>
          </div>
          <div class="card-back">
            <div class="card-body">
              <img src="./assets/srinagar.jpg"  alt="" width="100%" height="220px">
              <h4 class="card-title">Srinagar</h4>
              <!-- <p class="card-text">Some example text. Some example text.</p>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a> -->
            </div>
          </div>
       </div>
      </div>
    </div>
    <div class="abc">
      <P class="p-5px"></P>
      <a href=""></a>
      <h4></h4>
      <img src="" alt="">
    </div>
    
  </div>
</body>
</html>					

