<!DOCTYPE html>
<html lang="en">
<head>
	<title>	</title>
	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href=
"https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	
	<script src=
"https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
	</script>
	
	<script src=
"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js">
	</script>
	
	<script src=
"https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">
	</script>
	
</head>
<body>
  <div class="jumbotron pt-2 mb-0">
    <h1>VACATION</h1>
    <p class="p-2 pb-3">A vacation or holiday, is a leave of absence from a regular job. People often take a vacation during 
      specific holiday observances, or for specific festivals or celebrations. Vacations are often spent 
      with friends or family.Vacations may include a specific trip or journey, usually for the purpose of 
      recreation or tourism.A person may take a longer break from work, such as a sabbatical, gap year, 
      or career break.
    </p>
    <img src="./assets/vacation.jfif" alt="" class="image" width="450px" height="250px">

    <p class="ml-3 pt-5">The concept of taking a vacation is a recent invention, and has developed through the last two centuries.
      In the Puritan culture of early America, taking a break from work for reasons other than weekly observance of 
      the Sabbath was frowned upon. However, the modern concept of vacation was led by a later religious movement 
      encouraging spiritual retreat and recreation. The notion of breaking from work periodically took root among 
      the middle and working class.India is the seventh biggest country in the world. It has numerous languages, 
      ethnic groups, cultures, monuments, palaces, backwaters, waterfalls and other spectaculars. There is no such 
      place in India that can be tagged as a boring destination for tourism. With endless man-made and natural marvels,
      here are 12 Best cities to visit in India. These twelve cities would leave you in awe.
    </p>
  </div>
  
    <div class="container-fluid ">
        <div class="row m-2">
          <div class="col m-1">
                <div class="card card-flip">
                  <div class="card-front">
                    <div class="card-body" width="100%" height="100%">
                        <a href="#" class="btn " style="background-color: rgb(37, 143, 179);">click here</a>
                    </div>
                  </div>
                  <div class="card-back">
                      <div class="card-body" >
                        <img src="./assets/hyderabad.jpg"  alt="" width="100%" height="220px">
                        <h4 class="card-title">Hyderabad</h4>
                        <!-- <p class="card-text">Some example text. Some example text.</p>
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a> -->
                     </div>
                  </div>
                </div>
           </div>
          <div class="col m-1">
                <div class="card card-flip">
                  <div class="card-front">
                    <div class="card-body" width="100%" height="100%">
                        <a href="#" class="btn " style="background-color: rgb(37, 143, 179);">click here</a>
                    </div>
                  </div>
                  <div class="card-back">
                    <div class="card-body">
                      <img src="./assets/mysore.jpg"  alt="" width="100%" height="220px">
                      <h4 class="card-title">Mysore</h4>
                      <!-- <p class="card-text">Some example text. Some example text.</p>
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a> -->
                    </div>
                  </div>
                </div>
          </div>
          <div class="col m-1">
               <div class="card card-flip">
                  <div class="card-front">
                    <div class="card-body" width="100%" height="100%">
                        <a href="#" class="btn " style="background-color: rgb(37, 143, 179);">click here</a>
                    </div>
                  </div>
                  <div class="card-back">
                      <div class="card-body">
                          <img src="./assets/udaipur.jpg"  alt="" width="100%" height="220px">
                          <h4 class="card-title">Udaipur</h4>
                          <!-- <p class="card-text">Some example text. Some example text.</p>
                          <a href="#" class="card-link">Card link</a>
                          <a href="#" class="card-link">Another link</a> -->
                      </div>
                  </div>
               </div>
          </div>
        </div>
        <div class="row m-2">
          <div class="col m-1">
              <div class="card card-flip">
                <div class="card-front">
                  <div class="card-body" width="100%" height="100%">
                      <a href="#" class="btn " style="background-color: rgb(37, 143, 179);">click here</a>
                  </div>
                </div>
                  <div class="card-back">
                    <div class="card-body">
                      <img src="./assets/chennai.jpg"  alt="" width="100%" height="220px">
                      <h4 class="card-title">Chennai</h4>
                      <!-- <p class="card-text">Some example text. Some example text.</p>
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a> -->
                   </div>
                  </div>
              </div>
          </div>
          <div class="col m-1">
            <div class="card card-flip">
              <div class="card-front">
                <div class="card-body" width="100%" height="100%">
                    <a href="#" class="btn " style="background-color: rgb(37, 143, 179);">click here</a>
                </div>
              </div>
              <div class="card-back">
                <div class="card-body">
                  <img src="./assets/kochi.jpg"  alt="" width="100%" height="220px">
                  <h4 class="card-title">Kochi</h4>
                  <!-- <p class="card-text">Some example text. Some example text.</p>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a> -->
                </div>
              </div>
            </div>
          </div>
          <div class="col m-1">
            <div class="card card-flip">
              <div class="card-front">
                <div class="card-body" width="100%" height="100%">
                    <a href="#" class="btn " style="background-color: rgb(37, 143, 179);">click here</a>
                </div>
              </div>
              <div class="card-back">
                <div class="card-body">
                  <img src="./assets/varanasi.jpg"  alt="" width="100%" height="220px">
                  <h4 class="card-title">Varanasi</h4>
                  <!-- <p class="card-text">Some example text. Some example text.</p>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a> -->
                </div>
              </div>
           </div>
          </div>
        </div>
        <div class="row m-2">
          <div class="col m-1">
            <div class="card card-flip">
              <div class="card-front">
                <div class="card-body" width="100%" height="100%">
                    <a href="#" class="btn " style="background-color: rgb(37, 143, 179);">click here</a>
                </div>
              </div>
              <div class="card-back">
                <div class="card-body">
                  <img src="./assets/kolkata.jpg"  alt="" width="100%" height="220px">
                  <h4 class="card-title">Kolkata</h4>
                  <!-- <p class="card-text">Some example text. Some example text.</p>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a> -->
                </div>
              </div>
           </div>
          </div>
          <div class="col m-1">
            <div class="card card-flip">
              <div class="card-front">
                <div class="card-body" width="100%" height="100%">
                    <a href="#" class="btn " style="background-color: rgb(37, 143, 179);">click here</a>
                </div>
              </div>
              <div class="card-back">
                <div class="card-body">
                  <img src="./assets/bangalore.jpg"  alt="" width="100%" height="220px">
                  <h4 class="card-title">Bangalore</h4>
                  <!-- <p class="card-text">Some example text. Some example text.</p>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a> -->
                </div>
              </div>
           </div>
          </div>
          <div class="col m-1">
            <div class="card card-flip">
              <div class="card-front">
                <div class="card-body" width="100%" height="100%">
                    <a href="#" class="btn " style="background-color: rgb(37, 143, 179);">click here</a>
                </div>
              </div>
              <div class="card-back">
                <div class="card-body">
                  <img src="./assets/agra.jpg"  alt="" width="100%" height="220px">
                  <h4 class="card-title">Agra</h4>
                  <!-- <p class="card-text">Some example text. Some example text.</p>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a> -->
                </div>
              </div>
           </div>
          </div>
        </div>
        <div class="row m-2">
          <div class="col m-1">
            <div class="card card-flip">
              <div class="card-front">
                <div class="card-body" width="100%" height="100%">
                    <a href="#" class="btn " style="background-color: rgb(37, 143, 179);">click here</a>
                </div>
              </div>
              <div class="card-back">
                <div class="card-body">
                  <img src="./assets/mumbai.jpg"  alt="" width="100%" height="220px">
                  <h4 class="card-title">Mumbai</h4>
                  <!-- <p class="card-text">Some example text. Some example text.</p>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a> -->
                </div>
              </div>
           </div>
          </div>
          <div class="col m-1">
            <div class="card card-flip">
              <div class="card-front">
                <div class="card-body" width="100%" height="100%">
                    <a href="#" class="btn " style="background-color: rgb(37, 143, 179);">click here</a>
                </div>
              </div>
              <div class="card-back">
                <div class="card-body">
                  <img src="./assets/jaipur.jpg"  alt="" width="100%" height="220px">
                  <h4 class="card-title">Jaipur</h4>
                  <!-- <p class="card-text">Some example text. Some example text.</p>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a> -->
                </div>
              </div>
            </div>
          </div>
          <div class="col m-1">
            <div class="card card-flip">
              <div class="card-front">
                <div class="card-body" width="100%" height="100%">
                    <a href="#" class="btn " style="background-color: rgb(37, 143, 179);">click here</a>
                </div>
              </div>
              <div class="card-back">
                <div class="card-body">
                  <img src="./assets/delhi.jpg"  alt="" width="100%" height="220px">
                  <h4 class="card-title">Delhi</h4>
                  <!-- <p class="card-text">Some example text. Some example text.</p>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a> -->
                </div>
              </div>
           </div>
          </div>
        </div>
        <div class="abc">
          <P class="p-5px"></P>
          <a href=""></a>
          <h4></h4>
          <img src="" alt="">
        </div>
        
      </div>
     
</body>
</html>					
